[submodule "src/kinova-ros"]
	path = src/kinova-ros
	url = https://github.com/Kinovarobotics/kinova-ros.git
[submodule "src/moveit_tutorials"]
	path = src/moveit_tutorials
	url = https://github.com/moveit/moveit_tutorials.git
